body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.title {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better text readability */
    border-radius: 5px; /* Optional: Add rounded corners to the container */
    margin-left: auto;
    margin-right: auto;
}

.intro {
    text-align: center;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better text readability */
    padding: 20px;
    border-radius: 10px; /* Optional: Add rounded corners to the container */
    margin-left: auto;
    margin-right: auto;
}

.exit {
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better text readability */
    border-radius: 5px; /* Optional: Add rounded corners to the container */
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    padding: 20px;
}